.dashboard {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: center; */
  padding: 40px;
}
.top-grid {
  display: grid;
  /* Left side takes 2 fractions of space, right side takes 3 */
  grid-template-columns: 2fr 3fr; 
  gap: 20px;
  margin-bottom: 20px;
}

/* The 2x2 Stats Box */
.stat-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 equal columns */
  gap: 15px;
}
.back-btn {
  margin-top: 1.5rem;
}
.back-btn button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background-color: #b94256;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
}
.back-btn button a {
  color: #fff;
  text-decoration: none;
}
.back-btn button:hover {
  background-color: #a12e3b;
}

@media (max-width: 1024px) {
    .top-grid {
        grid-template-columns: 1fr; /* Stacks the StatGrid on top of the ChartCard */
    }
    
    .dashboard {
        padding: 20px;
    }
}