@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
:root {
    --font: 'Space Grotesk', sans-serif;
    --subFont: 'Shadows Into Light', cursive;
}
body {
    font-family: var(--font);
    background-color: #f5f5f5;
    color: #333;
}